.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    padding: 8px 16px;
    background: #1f1f1f;
    color: #eee;
    border-radius: 6px;
    cursor: pointer;
}

.tab.active {
    background: #007bff;
    color: #fff;
}

.tab-content { display: none; }
.tab-content.active { display: block; }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    table-layout: fixed;   
    font-size: 13px;     
}

.table {
    min-width: 900px;  
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}

.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid #333;
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis; 
}

.table td:nth-child(6) {
    max-width: 200px; 
}

.table th:nth-child(1),
.table td:nth-child(1) { width: 50px; }   /* PID */

.table th:nth-child(4),
.table td:nth-child(4) { width: 60px; }   /* CPU */

.table th:nth-child(5),
.table td:nth-child(5) { width: 60px; }   /* MEM */

.table th:nth-child(7),
.table td:nth-child(7) { width: 60px; }   /* Kill */

.kill-btn {
    padding: 4px 8px;
    color: white;
    background: #d9534f;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
}

.modal-content {
    background: #222;
    padding: 20px;
    margin: 12% auto;
    width: 60%;
    color: #eee;
    border-radius: 6px;
}

#modal-close {
    float: right;
    cursor: pointer;
    font-size: 24px;
}


/* EVENT TABLOSU KOLON GENİŞLİKLERİ */
#tab-events .table th:nth-child(1),
#tab-events .table td:nth-child(1) {
    width: 180px;     /* Timestamp */
}

#tab-events .table th:nth-child(2),
#tab-events .table td:nth-child(2) {
    width: 150px;     /* Event Type */
}

#tab-events .table th:nth-child(3),
#tab-events .table td:nth-child(3) {
    width: 80px;      /* PID */
}

#tab-events .table th:nth-child(4),
#tab-events .table td:nth-child(4) {
    width: 150px;     /* Name */
}

#tab-events .table th:nth-child(5),
#tab-events .table td:nth-child(5) {
    width: 70px;      /* Details button */
}

#tab-events .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
